[Keyboard]
A=LayerDown
B=Drawing Mode 1
C=BookmarkToggle
D=ShapeFreeHandLine
E=02918e9c-c887-4044-8e07-6ac42add281b
F=ShapeFlood
G=62279e20-a856-284b-96ef-f4cccaa6c988
H=5a63276c-e07e-9841-baa6-adf344db9fff
I=UserAppendImageProject
J=none
K=none
L=SelectShapeFreeHand
M=OpenZoom
N=SwapABPen
O=Drawing Mode 3
P=ShapeFreeHandLine
Q=LayerUp
R=e5b42932-37e4-ef4e-b553-65f0b59a2539
S=Drawing Mode 3
T=PrevInstance
U=Undo
V=BrushRemoveTrans
W=62279e20-a856-284b-96ef-f4cccaa6c988
X=FlipBrushX
Y=NextInstance
Z=MetaResizeTool
Shift A=ToggleToolPanel
Shift B=ToggleBackgroundMode
Shift C=SelectionCopyToBrush
Shift D=OpenSettingsPanel
Shift E=PreviousUsedTool
Shift F=GoImage
Shift G=none
Shift H=DoubleBrush
Shift I=UserInsertImageProject
Shift J=CopyToSpare
Shift K=Clear
Shift L=LoadProject
Shift M=LayerMakeAnim
Shift N=NewProject
Shift O=ChangeBrushHandle
Shift P=ChangePanto
Shift Q=Quit
Shift R=ShapeRectangleFill
Shift S=SaveProject
Shift T=none
Shift U=MultiRedo
Shift V=ShowPage
Shift W=CloseProject
Shift X=DoubleBrushX
Shift Y=MultiRedo
Shift Z=RotBrush90
Ctrl A=SelectAll
Ctrl B=none
Ctrl C=Copy
Ctrl D=SelectClear
Ctrl E=PreviousTool
Ctrl F=SearchEngine
Ctrl G=none
Ctrl J=none
Ctrl K=ConfigureKeyboard
Ctrl L=LayerTogglePelureMode
Ctrl N=ca31b5da-336f-5f4b-9b04-cd9003c43868
Ctrl O=LoadProject
Ctrl P=Print
Ctrl Q=none
Ctrl R=FilterReset
Ctrl S=SaveProject
Ctrl T=Position
Ctrl U=none
Ctrl V=Paste
Ctrl W=CloseWindow
Ctrl X=Cut
Ctrl Y=FlipBrushY
Ctrl Z=Undo
Ctrl Shift A=none
Ctrl Shift B=none
Ctrl Shift C=none
Ctrl Shift D=none
Ctrl Shift E=SaveSequence
Ctrl Shift F=none
Ctrl Shift G=none
Ctrl Shift J=none
Ctrl Shift K=none
Ctrl Shift L=none
Ctrl Shift N=none
Ctrl Shift O=none
Ctrl Shift P=none
Ctrl Shift Q=none
Ctrl Shift R=none
Ctrl Shift S=SaveAsProject
Ctrl Shift T=none
Ctrl Shift U=none
Ctrl Shift V=none
Ctrl Shift W=none
Ctrl Shift X=none
Ctrl Shift Y=none
Ctrl Shift Z=none
0=ToggleMixer
1=ZoomOut
2=ZoomIn
3=PrevInstance
4=NextInstance
5=Clear
6=Clear
7=ZoomRotateSub15
8=ZoomRotateAdd15
9=ScrollUpRight
Ctrl Pad 0=ZoomOneOne
Ctrl Pad 1=Room1
Ctrl Pad 2=ToolDown
Ctrl Pad 3=Room2
Ctrl Pad 4=ToolLeft
Ctrl Pad 5=none
Ctrl Pad 6=ToolRight
Ctrl Pad 7=Room3
Ctrl Pad 8=ToolUp
Ctrl Pad 9=Room4
/=DecreaseToolsSize2
*=IncreaseToolsSize2
-=DecreaseToolsSize
+=IncreaseToolsSize
,=LayerPickLayer
;=PicColor
:=ResetTool
!=TLNoteToggle
<=ZoomOut
>=ZoomIn
&=none
~=none
"=none
#=none
'=none
|=ToggleCoordinates
`=ToggleMixer
_=none
\=none
@=none
(=none
)=none
braquet=ZoomFlipX
]=ZoomFlipY
{=ZoomRotateAdd15
}=ZoomRotateSub15
$=none
?=none
£=none
%=none
§=none
.=none
equal=DisplayAllLayer
^=none
¨=none
µ=none
¤=none
²=none
F1=DisplayAllLayer
F2=LighttableToggle
F3=Drawing Mode 2
F4=LayerLeft
F5=LayerRight
F6=Drawing Mode 5
F7=Drawing Mode 6
F8=Drawing Mode 7
F9=Drawing Mode 8
F11=ShowPage
F12=HideShowWindows
Ctrl F1=none
Ctrl F2=none
Ctrl F3=none
Ctrl F4=none
Ctrl F5=none
Ctrl F6=none
Ctrl F7=none
Ctrl F8=none
Ctrl F9=Iconify
Ctrl F11=FullScreen
Ctrl F12=none
Shift F1=none
Shift F2=none
Shift F3=none
Shift F4=none
Shift F5=DeleteImageProject
Shift F6=none
Shift F7=none
Shift F8=none
Shift F9=none
Shift F11=none
Shift F12=none
Ctrl Shift F1=none
Ctrl Shift F2=none
Ctrl Shift F3=none
Ctrl Shift F4=none
Ctrl Shift F5=none
Ctrl Shift F6=none
Ctrl Shift F7=none
Ctrl Shift F8=none
Ctrl Shift F9=none
Ctrl Shift F11=none
Ctrl Shift F12=none
Space=PlayPreviewCurrentFrame
Shift Space=none
Ctrl Space=none
Tab=StoryboardDrawingNext
Shift Tab=StoryboardDrawingPrev
Ctrl Tab=NextZoomWindows
Ctrl Shift Tab=PrevZoomWindows
Enter=ShapeApply
Shift Enter=none
Escape=ShapeAbort
Shift Escape=none
Home=LayerFirstImage
Shift Home=ZoomRotateReset
Ctrl Home=FirstLayer
Ctrl Shift Home=none
End=LayerLastImage
Ctrl End=LastLayer
Shift End=none
Ctrl Shift End=MagicNumber
Del=SelectDel
Shift Del=ShapeEraseLast
Ctrl Del=none
Ctrl Shift Del=none
Insert=ZoomRotateReset
Shift Insert=none
Ctrl Insert=none
Ctrl Shift Insert=none
Backspace=Clear
Shift Backspace=none
Wheel Up=none
Shift Wheel Up=none
Ctrl Wheel Up=none
Ctrl Shift Wheel Up=none
Wheel Down=none
Shift Wheel Down=none
Ctrl Wheel Down=none
Ctrl Shift Wheel Down=none
Up=LayerUp
Shift Up=LayerUpSelection
Ctrl Up=LayerMoveUp
Ctrl Shift Up=BookmarkToggle
Down=LayerDown
Shift Down=LayerDownSelection
Ctrl Down=LayerMoveDown
Ctrl Shift Down=MoveColorCaseDown
Left=LayerLeft
Shift Left=LayerLeftSelection
Ctrl Left=PrevInstance
Ctrl Shift Left=BookmarkPrev
Right=LayerRight
Shift Right=LayerRightSelection
Ctrl Right=NextInstance
Ctrl Shift Right=BookmarkNext
Page Up=LayerPrevKey
Shift Page Up=ZoomRotateAdd15
Ctrl Page Up=none
Ctrl Shift Page Up=none
Page Down=LayerNextKey
Shift Page Down=ZoomRotateSub15
Ctrl Page Down=none
Ctrl Shift Page Down=none
